<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.EZList"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_only"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.EZList.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.EZList.MainActivity"
            android:icon="@drawable/ez_smallheader"
            android:label="">
        </activity>
        <activity
            android:name="com.example.EZList.EditList"
            android:icon="@drawable/ez_smallheader"
            android:label="" >
        </activity>
        <activity
            android:name="com.example.EZList.NewList"
            android:icon="@drawable/ez_smallheader"
            android:label="" >
        </activity>
        <activity
            android:name="com.example.EZList.AddItem"
            android:icon="@drawable/ez_smallheader"
            android:label="" >
        </activity>
        <activity
            android:name="com.example.EZList.NewListCopyPaste"
            android:icon="@drawable/ez_smallheader"
            android:label="" >
        </activity>
    </application>

</manifest>